In [1]:
from sec_api_client import SECAPIClient 
from data_wrangler import FinancialDataProcessor

In [2]:

sec_client = SECAPIClient()
data_processor = FinancialDataProcessor(sec_client)

In [3]:
# Fetch only company facts
cik_number = '0000012927'  
company_facts = sec_client.fetch_company_facts(cik_number)

In [4]:
processed_data = data_processor.process_data({'company_facts': company_facts})

In [5]:
processed_data.head(10)

           EntityName    CIK                  Metric         End         Value
0  THE BOEING COMPANY  12927         AccountsPayable  2008-12-31  5.871000e+09
1  THE BOEING COMPANY  12927         AccountsPayable  2009-06-30  6.664000e+09
2  THE BOEING COMPANY  12927  AccountsPayableCurrent  2008-12-31  5.871000e+09
3  THE BOEING COMPANY  12927  AccountsPayableCurrent  2008-12-31  5.871000e+09
4  THE BOEING COMPANY  12927  AccountsPayableCurrent  2009-09-30  7.053000e+09
5  THE BOEING COMPANY  12927  AccountsPayableCurrent  2009-12-31  7.096000e+09
6  THE BOEING COMPANY  12927  AccountsPayableCurrent  2009-12-31  7.096000e+09
7  THE BOEING COMPANY  12927  AccountsPayableCurrent  2009-12-31  7.096000e+09
8  THE BOEING COMPANY  12927  AccountsPayableCurrent  2009-12-31  7.096000e+09
9  THE BOEING COMPANY  12927  AccountsPayableCurrent  2009-12-31  7.096000e+09

In [6]:
data = processed_data

In [7]:
from sw_flake import SnowflakeDataManager

In [8]:
manager=SnowflakeDataManager()

Snowflake Connector for Python Version: 3.5.0, Python Version: 3.11.6, Platform: macOS-13.6.1-x86_64-i386-64bit
This connection is in OCSP Fail Open Mode. TLS Certificates would be checked for validity and revocation status. Any other Certificate Revocation related exceptions or OCSP Responder failures would be disregarded in favor of connectivity.

In [9]:
manager.create_table('TEST_TABLE')

query: [CREATE TABLE FINANCIAL_SCHEMA.TEST_TABLE ( EntityName VARCHAR(255), CIK INT, Met...]
query execution done
Error creating table: 002002 (42710): 01b0c5d9-0000-c424-0000-00016e22c1c5: SQL compilation error:
Object 'FINANCIAL_SCHEMA.TEST_TABLE' already exists.

In [10]:
manager.upload_data(data, 'TEST_TABLE')

query: [PUT file://data/data.csv @%TEST_TABLE AUTO_COMPRESS=FALSE OVERWRITE=TRUE]
query execution done
query: [COPY INTO TEST_TABLE FROM @%TEST_TABLE FILE_FORMAT = (TYPE = 'CSV' FIELD_OPTIONA...]

File data/data.csv uploaded to stage @%TEST_TABLE

query execution done
Number of results in first chunk: 1

Data copied from stage @%TEST_TABLE to table TEST_TABLE