In [1]:
from sec_api_client import SECAPIClient 
from data_wrangler import FinancialDataProcessor

sec_client = SECAPIClient()
data_processor = FinancialDataProcessor(sec_client)

# Fetch only company facts
cik_number = '0000012927'  
company_facts = sec_client.fetch_company_facts(cik_number)

processed_data = data_processor.process_data({'company_facts': company_facts})

data = processed_data

In [2]:
from sw_flake import SnowflakeDataManager
manager=SnowflakeDataManager()

Snowflake Connector for Python Version: 3.5.0, Python Version: 3.11.6, Platform: macOS-13.6.1-x86_64-i386-64bit
This connection is in OCSP Fail Open Mode. TLS Certificates would be checked for validity and revocation status. Any other Certificate Revocation related exceptions or OCSP Responder failures would be disregarded in favor of connectivity.

In [3]:
manager.create_table('TEST_TABLE')

query: [CREATE TABLE FINANCIAL_SCHEMA.TEST_TABLE ( EntityName VARCHAR(255), CIK INT, Met...]
query execution done
Error creating table: 002002 (42710): 01b0ca21-0000-c4b2-0001-6e2200010032: SQL compilation error:
Object 'FINANCIAL_SCHEMA.TEST_TABLE' already exists.

In [4]:
manager._generate_stage_name('test', 'COPY')

'@%test'

In [1]:
manager.put_file_to_stage('data/data.csv')

NameError: name 'manager' is not defined

In [3]:
manager.upload_data(data)

query: [PUT file://data/data.csv @%TEST_TABLE AUTO_COMPRESS=FALSE OVERWRITE=TRUE]
query execution done
query: [COPY INTO TEST_TABLE FROM @%TEST_TABLE FILE_FORMAT = (TYPE = 'CSV' FIELD_OPTIONA...]

File data/data.csv uploaded to stage @%TEST_TABLE

query execution done
Number of results in first chunk: 1

Data copied from stage @%TEST_TABLE to table TEST_TABLE

In [4]:
manager.execute_query_from_file('../queries/profitability_query.sql').head(20)

query: [SELECT EntityName AS Entity, CIK, End AS Date, ROUND(SUM(CASE WHEN Metric = 'Net...]
query execution done
Number of results in first chunk: 63

,ENTITY,CIK,DATE,NETINCOMELOSS,REVENUES,OPERATINGINCOMELOSS,PROFITMARGINPERCENT,QUARTER
0,THE BOEING COMPANY,12927,2007-12-31,36666.0,597483.0,52470.0,6.14,Q4-2007
1,THE BOEING COMPANY,12927,2008-06-30,26235.0,449226.0,38637.0,5.84,Q2-2008
2,THE BOEING COMPANY,12927,2008-09-30,31077.0,571842.0,48060.0,5.43,Q3-2008
3,THE BOEING COMPANY,12927,2008-12-31,48096.0,1096362.0,71100.0,4.39,Q4-2008
4,THE BOEING COMPANY,12927,2009-03-31,10980.0,297036.0,18450.0,3.70,Q1-2009
5,THE BOEING COMPANY,12927,2009-06-30,55890.0,1068966.0,87255.0,5.23,Q2-2009
6,THE BOEING COMPANY,12927,2009-09-30,-41436.0,1356768.0,-50823.0,-3.05,Q3-2009
7,THE BOEING COMPANY,12927,2009-12-31,46836.0,2005020.0,71829.0,2.34,Q4-2009
8,THE BOEING COMPANY,12927,2010-03-31,18684.0,547776.0,42264.0,3.41,Q1-2010
9,THE BOEING COMPANY,12927,2010-06-30,51840.0,1114830.0,91710.0,4.65,Q2-2010
10,THE BOEING COMPANY,12927,2010-09-30,68706.0,1470420.0,119556.0,4.67,Q3-2010
11,THE BOEING COMPANY,12927,2010-12-31,110241.0,2034162.0,154071.0,5.42,Q4-2010
12,THE BOEING COMPANY,12927,2011-03-31,21096.0,536760.0,36000.0,3.93,Q1-2011
13,THE BOEING COMPANY,12927,2011-06-30,61362.0,1161702.0,100836.0,5.28,Q2-2011
14,THE BOEING COMPANY,12927,2011-09-30,86778.0,1523412.0,138150.0,5.70,Q3-2011
15,THE BOEING COMPANY,12927,2011-12-31,133560.0,2207835.0,186345.0,6.05,Q4-2011
16,THE BOEING COMPANY,12927,2012-03-31,33228.0,697788.0,56430.0,4.76,Q1-2012
17,THE BOEING COMPANY,12927,2012-06-30,68832.0,1429164.0,111645.0,4.82,Q2-2012
18,THE BOEING COMPANY,12927,2012-09-30,89748.0,1789416.0,140346.0,5.02,Q3-2012
19,THE BOEING COMPANY,12927,2012-12-31,122904.0,2607282.0,199296.0,4.71,Q4-2012